.container
  .row
    .span3
      .well
        %h1= @language.name
        %p= @language.description
        %p= pluralize(@language.word_histories.count, 'word')
    .span9
      = render @language.word_histories.limit(10)
