.container
  .row
    .span4
      .well
        %h1= @language.name
        %p= @language.description
        %p= pluralize(@language.words.count, 'word')
    .span8
      = render @language.words.limit(10)
