.container
  .row
    - for language in Language.all do
      .span3
        %h1= language.name
        %ul.nav.nav-list
          - for wh in WordHistory.unscoped.select(:word_id).where(:language_id => language.id).order('part_b ASC').uniq
            %li= link_to wh.word.index, wh.word
